.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.main img {
  max-width: 50%;
  /* margin: auto; */
  /* margin-left: 0; */
}

@media screen and (max-width: 1024px) {
  .main {
    height: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .main {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    height: 100px;
  }
  .main img {
    max-width: 70%;
  }
}
