

/* #nextBtn .slick-prev:before{
content: ' ';
} */
.card {
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 70px 20px 20px 20px;
  border-radius: 20px;
  /* width: 80%;
  height: 80%; */
  margin: auto;
}
.img_div{
  height: 80px;
  background: rgba(0, 0, 0, 0);
}
.card_img {
  max-height: 100px;
  position: absolute;
  top: 40px;
  left: calc(50% - 50px);

}
.card_title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  text-align: left;
}

.detail {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  line-height: 24px;
  margin: 6px 0 10px 0;
  text-align: left;
  position: relative;
  padding-right: 50px;
  font-weight: 400;
}
.detail_img{
  position: absolute;
  right: 0;
  height: 40px;
  top: -15px;
}
.slider_styles{
  padding: 0 50px;
}

 
@media screen and (max-width: 1024px) {
  .slider_styles{
    padding: 0 15px;
  }
} 
@media screen and (max-width: 600px) {
  .slider_styles{
    padding: 0;
  }
} 
