.service_with_bg {
  display: flex;
  align-items: flex-start;
  /* max-height: 350px; */
  padding: 30px 0;
}
.service_details_side {
  flex: 2;
  padding: 0 0 0 50px;
}
.service_details_side h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Lora", serif;
  margin: 0 0 20px 0;
  color: #1e365a;
}
.service_details_side p {
  font-size: 16px;
  letter-spacing: 1.92px;
  font-family: "Roboto", sans-serif;
  line-height: 30px;
  margin: 0;
}

.service_image_side {
  flex: 1;
}
.image_style {
  max-width: 90%;
  display: block;
  margin: auto;
  height: 80%;
}
/* .li_style li button:before {
  font-family: "slick";
  font-size: 25px;
  line-height: 20px;
  color: #1e365a;
  margin-right: 20px;
} */
 

.arrow_section{
  margin-top: 20px;
  text-align: center;
}
.arrow{
  width: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 601px) and (max-width: 768px) {
}
@media screen and (max-width: 600px) {


  .service_with_bg {
    display: flex;
    align-items: flex-start;
    /* max-height: 350px; */
    padding: 30px 0;
    flex-direction: column;
  }
  .service_details_side {
    flex-basis: 100%;
   
  }
  .service_details_side h2 {
    font-size: 20px;
  
    margin: 20px 0 20px 0;
 
  }
  .service_details_side p {
    font-size: 16px;
    letter-spacing: 1.92px;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    margin: 0;
  }
  
  .service_image_side {
    flex-basis: 100%;
  }
  .image_style {
    max-width: 60%;
    display: block;
    margin: auto;
    /* height: 80%; */
  }
  .li_style li button:before {
    font-family: "slick";
    font-size: 25px;
    line-height: 20px;
    color: #1e365a;
    margin-right: 20px;
  }
}
